.section-CT {
  color: rgb(255, 255, 255);
  background: #000000ee;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 300px;
  z-index: 1;
  overflow-x: hidden;
  padding: 15px 15px 15px 25px;
  border-radius: 10px 20px;
  margin-bottom: 50px;
  z-index: 5;
}

.section-CT h2 {
  margin-bottom: 1rem;
  line-height: 1.3;
  font-weight: 300;
}

.section-CT h3 {
  margin: 10px 0 15px 0;
  margin-bottom: 1rem;
  line-height: 1.3;
  font-weight: 200;
}

.section-CT .button-CT {
  background: #ffc500;
  color: #000;
  border: none;
  transition: 0.2 ease-out;
  padding: 5px 15px;
  cursor: pointer;
  text-decoration: none;
}

.section-CT .button-CT:hover {
  transition: 0.2s ease-out;
  color: #fff;
  background: #e31837;
}

.delete-button-FS {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 200;
}
