.discount-coupon {
  color: #fff;
  padding-bottom: 15px;
}

.discount-coupon-button {
  margin-left: 15px;
  padding: 2px 6px;
  background: var(--cor-secundaria);
  border-radius: 20px;
  border: none;
  transition: 0.2s ease-out;
}
