.stage-FTS {
  color: #fff;
  background: var(--cor-principal) !important;
  border-top-right-radius: 15px;
}

.cupom-FTS {
  padding: 15px 0 50px 0;
  text-align: center;
  color: #fff;
}

.cupom-FTS h2 {
  font-weight: 500;
  color: #fff;
  padding-bottom: 50px;
}

.form-input-FTS svg {
  position: relative;
  top: 4px;
}

.form-input-FTS input {
  border-radius: 10px;
  margin: 0 15px;
}

.form-input-FTS button {
  background: var(--cor-principal);
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.2s ease-out;
  text-decoration: none;
  font-size: 15px;
}

.cupom-FTS ul {
  padding-top: 25px;
  list-style-type: none;
}

.cupom-FTS ul svg {
  position: relative;
  top: 3px;
  margin-right: 10px;
}

.section-FTS {
  text-align: center;
}

.section-FTS h3 {
  font-weight: 500;
  padding-bottom: 15px;
  color: #fff;
}

.form-FTS .form-check {
  padding: 15px;
}

.form-FTS .form-check label {
  color: #fff;
}

.form-FTS .form-check label input {
  margin-right: 15px;
}

.icons-FTS {
  margin-right: 5px;
  color: #fff;
}

.form-group {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  padding-top: 25px;
  padding-bottom: 100px;
}

.products-FTS {
  position: absolute;
  bottom: 10%;
  left: 5%;
  background: rgba(236, 236, 236, 0.185);
  border-radius: 20px;
}

.products-FTS .section-CART-Pay {
  margin-bottom: 0;
  text-align: left;
}

.products-FTS .delete-button-FS-CART-Pay {
  display: none;
}

.products-FTS .button-CART-Pay {
  display: none;
}

.products-FTS .button-FS {
  display: none;
}

.products-FTS .section-FS {
  margin-bottom: unset;
}

/* 769px — 1024px: Small screens, laptops */

@media (max-width: 1024px) {
  .products-FTS {
    position: unset;
  }

  .products-FTS .section-CART-Pay {
    text-align: center;
  }
}
